<% provide(:title, 'Basket') %>

<div>

  <% if @basket.basketItems.count > 0 %>

<!--   <h1 class="my-title">Your Basket</h1> -->

  <% if @basket.basketItems.count == 1 %>
    <div class="cards cards-single cards__basket">
  <% else  %>
    <div class="cards cards-double cards__basket">
  <% end %>

  <p style="text-align: center; text-decoration: underline">1. Basket</p>

    <% @basket.basketItems.each do |basketItem| %>
      <div class="card">
        <div>
          <%= cl_image_tag basketItem.artwork.photos.first.key, height: 250, width: 250, crop: :fill %>
        </div>
        <div class="artwork-title">
          <h2> <%= basketItem.artwork.name %> </h2>
          <p class="price"> <%= humanized_money_with_symbol(basketItem.artwork.price) %></p>
        </div>
        <div class="item-delete">
          <%= link_to basket_item_path(basketItem), method: "delete" do %>
            <i class="far fa-trash-alt" style="font-size: 1.5rem; color: black"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <p style="text-align: center; text-decoration: underline">2. Shipping</p>

  <%= form_tag orders_path, class: "custom-form" do %>
    <%= text_field_tag :address, nil, placeholder: "Address", class: "text-center", id: "address-input" %>
    <%= text_field_tag :address_2, nil, placeholder: "Street name and number", class: "text-center", id: "address2-input" %>
    <div class="form-inline-elements">
      <%= text_field_tag :city, nil, placeholder: "City", class: "text-center", id: "city-input" %>
      <%= text_field_tag :postal_code, nil, placeholder: "Postal code", class: "text-center", id: "postal-input" %>
    </div>
    <%= hidden_field_tag :country_code, nil, id: "country-input" %>
    <%= submit_tag 'Checkout', class: 'mybutton mt-3', disabled: true %>
  <% end %>

  <p style="text-align: center; font-style: italic; font-size: 12px;">*Shipping restricted to Europe.</p>

 <!--    <div class="form-group">
      <label for="form-address">Address*</label>
      <input type="search" class="form-control" id="form-address" placeholder="Where do you live?" />
    </div>
    <div class="form-group">
      <label for="form-address2">Address 2</label>
      <input type="text" class="form-control" id="form-address2" placeholder="Street number and name" />
    </div>
    <div class="form-group">
      <label for="form-city">City*</label>
      <input type="text" class="form-control" id="form-city" placeholder="City">
    </div>
    <div class="form-group">
      <label for="form-zip">ZIP code*</label>
      <input type="text" class="form-control" id="form-zip" placeholder="ZIP code">
    </div> -->

  <% else %>

    <div class="h-100 d-flex justify-content-center align-items-center text-center">
      <h1>Not much in your basket.</h1>
    </div>

  <% end %>


</div>
