<% provide(:title, 'Artworks') %>

<div class="cards">
  <% @artworks.each do |artwork|%>
    <% if artwork.sold == false %>
      <div class="card">
        <%= link_to artwork_path(artwork) do %>
          <div>
            <%= cl_image_tag artwork.photos.first.key, height: 250, width: 250, crop: :fill %>
          </div>
          <div class="product-info">
            <h2> <%= artwork.name %> </h2>
            <p class="price"> <%= humanized_money_with_symbol(artwork.price) %></p>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="card">
        <%= link_to artwork_path(artwork) do %>
          <div>
            <%= cl_image_tag artwork.photos.first.key, height: 250, width: 250, crop: :fill %>
          </div>
          <div class="product-info">
            <h2> <%= artwork.name %> </h2>
            <p class="price"> <%= humanized_money_with_symbol(artwork.price) %></p>
          </div>
        <% end %>
        <div class="sold">
          <p style="margin: 0">SOLD</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
