<% provide(:title, @artwork.name) %>

<div>
  <div class="col-sm-12 pb-3">

    <div class="swiper-container">
      <div class="swiper-wrapper">
        <% @artwork.photos.each do |photo| %>
          <div class="swiper-slide" data-swiper-autoplay="2000">
            <%= cl_image_tag(photo.key, :gravity=> "south", class: "w-100") %>
          </div>
        <% end %>
      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>

  <div class="text-center col-sm-12 artwork-setter">
        <p><%= @artwork.name %></p>
        <p><%= @artwork.dimensions %></p>
        <p><%= @artwork.material %></p>
        <% if (@artwork.sold == true) %>
            <p style="color: rgb(200, 200, 200)"><%= humanized_money_with_symbol(@artwork.price) %></p>
        <% else %>
            <p><%= humanized_money_with_symbol(@artwork.price) %></p>
        <% end %>
    </div>

    <% if (@artwork.sold == false && !user_signed_in?) || (user_signed_in? && @artwork.sold == false && !@basket.basketItems.find_by(artwork: @artwork)) %>
      <div class="mt-2 mb-4 text-center">
        <%= form_tag artwork_basket_items_path(@artwork) do %>
          <%= submit_tag 'Add to Basket', class: 'mybutton' %>
        <% end %>
      </div>
    <% end %>
    <% if @artwork.sold == true %>
      <p class="text-center" style="color: rgb(200, 200, 200)">SOLD</p>
    <% end %>

    <% if user_signed_in? && @basket.basketItems.find_by(artwork: @artwork) %>
      <div class="mt-2 mb-4 text-center">
        <%= form_tag(basket_item_path(@basket.basketItems.find_by(artwork: @artwork)), method: 'delete') do %>
          <%= submit_tag 'Remove', class: 'mybutton' %>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
