<% provide(:title, "Checkout") %>

<div class="text-center">

  <p style="text-align: center; text-decoration: underline">3. Summary</h1>

      <% if @basket.basketItems.count == 1 %>
        <div class= "cards-single">
      <% else %>
        <div class="cards-double">
      <% end %>
      <% @basket.basketItems.each do |item| %>
        <div>
          <%= cl_image_tag(item.artwork.photos.first.key, height: 250, width: 250, crop: :fill) %>
          <p><%= item.artwork.name %><span> - <%= humanized_money_with_symbol item.artwork.price %></span></p>
        </div>
      <% end %>
      </div>
  <div class="price-total">
    <div class="d-flex justify-content-between">
      <p>Shipping:</p>
      <p>€<%= @ups_rate %></p>
    </div>
    <div class="d-flex justify-content-between">
      <p>Total:</p>
      <p><%= humanized_money_with_symbol @order.amount %></p>
    </div>
  </div>

  <button id="pay" class="mybutton my-4">Pay</button>
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    const paymentButton = document.getElementById('pay');
    paymentButton.addEventListener('click', () => {
      const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
      stripe.redirectToCheckout({
        sessionId: '<%= @order.checkout_session_id %>'
      });
    });
  </script>
</div>
