<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/rails_default' %>
  </head>
  <body>
    <%= render 'layouts/navbar' unless controller_name == "payments" && action_name =="show" %>
    <div class="container" style="min-height: calc(100vh - 276px)">
      <div class="page-setter">
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
    <%= render 'layouts/cookie_banner' %>
  </body>
</html>
