<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/rails_default' %>
  </head>
  <body>
    <%= render 'layouts/navbar' unless controller_name == "payments" && action_name =="show" %>
    <%= render 'layouts/basket' %>
    <div class="container" style="display: flex; justify-content: center; padding-top: 1rem; min-height: calc(100vh - 200px)">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
